.checkoutProduct {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.checkoutProduct_image {
  padding-left: 0.4em;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}
.checkoutProduct_info {
  padding-left: 2.2rem;
  padding-right: 1rem;
}
.checkoutProduct_rating {
  display: flex;
  margin-top: 1rem;
}
.checkoutProduct_button {
  margin-top: 1em;
  padding: 0.5em;
  background-color: #ffd814;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  border: 2px solid #fcd200;
  border-radius: 20px;
  cursor: pointer;
  color: #111;
  margin-bottom: 0.2em;
}
.checkoutProduct_title {
  font-size: 1rem;
  font-weight: 500;
}
